
/* HERO */
.hero {
  background-color: #92fcf9;
  color: white;
  height: 60vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

  @media screen and (min-width: 660px) {
    .hero {height: 50vh;}
  }

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 14px;
  margin: 0;
}

  @media screen and (min-width: 875px) {
    h1 { font-size: 4rem;}
  }



/* End of HERO */



/* BLOG */

/* Blog posts */
.post__subtitle, .post__subtitle img, .post__subtitle p {
  display: inline-block;
}

.post__img {
  max-width: 100%;
}

/* End of blog posts */


/* Blocks */

.block {
  border: 2px solid black;
  padding: 10px;
  background-image: url("../assets/blog/sneaker_mesh_fabric.png");
  background-color: #E6E6E6;
  text-align: center;
}

.block__inner {
  
}
/* End of Blocks */




/* End of BLOG */
