/* COLOR PALETTE
#92FCF8 - teal
#cefdfd - light teal (active submit button)
#FFD96D - yellow
#FFE6A2 - ligth yellow (active read-more button)
#FF9496 - salmon pink (hover links)
#FFB3B4 - lighter salmon pink (active links)
#e6e6e6 - platinum grey
*/

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #ff9496;
}

a:active {
  color: #ffb3b4;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
}

.flexbox {
  display: flex;
}

.grid {
  display: grid;
}

.outer-container {
  margin: auto;
  max-width: 1000px;
  padding: 60px 20px;
}

header .outer-container {
  padding: 0 20px;
}

  @media screen and (min-width: 660px) {
    .outer-container {
      margin: auto;
    }
  }


/*TYPOGRAPHY*/

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.logo, .nav-item, h1, h2, h3, .skills-percent, .copy-big, .section-header,
.facts-number, .form__input, .social__item  {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 4px;
}

.logo, h2, h3, .skills-percent, .section-header, .facts-number, .large-teal, .nav-item, .social__item {
    font-weight: 700;
}

.logo, h2, .facts-number {
  font-size: 1.5em;
}

.copy-big, .nav-item, .social__item {
  font-size: 0.8rem;
}

.copy-big {
  font-weight: 500;
}

.copy, .section-subheader {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
}

.copy {
  color: grey;
}

/* End of TYPOGRAPHY */




/* DRAWN ELEMENTS*/

.circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: black;
  margin: 3px 15px;
}

.line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  margin-top: -5px;
}
/* End of DRAWN ELEMENTS */




/* HEADER */

header{
  width: 100%;
  position: absolute;
  top: 0;
}

.header__container {
  justify-content: space-around;
}

.logo__container {
  box-sizing: border-box;
  margin: 5px auto;
}

.nav {
  display: none;
}

  @media screen and (min-width: 768px) {
    .logo__container {
      margin: auto auto auto 0;
    }

    .nav {
      display: inline-block;
    }
  }

/* End of HEADER*/



/* LEARN MORE button */
.more-button {
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.more-button:hover {
  background-color: #FFD96D;
  color: black;
  padding: 20px 15px;
}

.more-button:active {
  background-color: #FFE6A2;
  color: black;
  padding: 20px 15px;
}

.more-button p {
  display: inline-block;
}

.more-button i {
  display: inline-block;
  font-size: 0.9rem;
  position: relative;
  top: 3px;
}

/* End of LEARN MORE button



/*SECTION HEADER */
.section-header__container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
  margin: 0;
}

.section-subheader {
  margin: 10px 0;
  font-style: italic;
}

.section-header__container .line {
  margin-top: 5px;
}

/* End of SECTION HEADER */



/* FOOTER */
footer {
  background-color: #ffd96d;
  text-align: center;
  padding: 30px;
}

.social {
  flex-direction: column;
}

.social__item {
  display: block;
  margin: 10px 0;
}

.social__item  a, .nav-item a {
  padding: 18px 0;
}

  @media screen and (min-width: 660px) {
    .social {
      flex-direction: row;
      justify-content: center;
    }

    .social__item {
      display: inline-block;
    }

    .social__item  a, .nav-item a {
        padding: 20px 0;
    }
  }


/* End of FOOTER */
