body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


a {
  text-decoration: none;
  color: #000000;
}

li {
  display: inline-block;
}

.flexbox {
  display: flex;
}

.grid {
  display: grid;
}

.outer__container {
  margin: 0 2.5%;
  max-width: 1000px;
  padding: 50px 0;
}

  @media screen and (min-width: 660px) {
    .outer__container {
      margin: 0 10%;
    }
  }

/*TYPOGRAPHY*/
.capital {
  text-transform: uppercase;
}

/* End of TYPOGRAPHY */



/* HEADER */
header{
  width: 100%;
  position: absolute;
  top: 0;
}

.header__container {
  justify-content: space-around;
}

.logo__container {
  box-sizing: border-box;
  margin: auto auto auto 0;
}

.logo {}
/* End of HEADER*/


/* DRAWN ELEMENTS*/
.circle {
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: black;
  margin: 3px 15px;
}

.line {
  display: block;
  width: 35px;
  height: 2px;
  background-color: black;
  margin-top: -5px;
}

.triangle {
  display: inline-block;
  border: 5px solid transparent;
  border-left: 6px solid black;
  position: relative;
  margin-left: 10px;
}
/* End of DRAWN ELEMENTS */

/* LEARN MORE button */
.more-button p {
  display: inline-block;
}

/*SECTION HEADER */
.section-header__container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-header {
  margin: 0;
}

.section-subheader {
  margin: 10px 0;
}

.section-header__container .line {
  margin-top: 5px;
}
