/* HERO */

.hero {
  background-image: url(../assets/home/hero.jpg);
  background-size: cover;
  background-position: right bottom;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

  @media screen and (min-width: 660px) {
    .hero {height: 50vh;}
  }

.hero .outer-container {
  text-align: center;
}

h1 {
  color: white;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 14px;
  margin: 0;
}

  @media screen and (min-width: 875px) {
    h1 { font-size: 4rem;}
  }
/* End of HERO */


/* ABOUT */

.about {
  text-align: center;
  padding: 65px 0;
}

.image__container {
  background-color: #ffd96d;
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

.about__image {
  margin-top: 30px;
  margin-left: -30px;
}

.about p {
  text-align: justify;
}

/* End of ABOUT */


/* SKILLS */
.skills {
  background-color: #f2f4f7;
}

.skills .outer-container {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  padding: 45px 0;
}

.skills__item {
  flex-direction: column;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

  @media screen and (min-width: 660px) {
    .skills .outer-container {
      flex-direction: row;
      justify-content: space-around;
    }

    .skills__item {
      width: 40%;
    }
  }


  @media screen and (min-width: 1070px) {
    .skills .outer-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .skills__item {
      width: 18%;
    }
  }


.skills .item__header {
  margin-top: 0;
}

.skills__icon {
  width: 150px;
}

.skills-percent {
  margin-top: -20px;
}

/* End of SKILLs */


/* SERVICES */
.services__container {
  grid-template: repeat(12, 1fr) / 1fr 5fr;
  grid-gap: 50px 15px;
}

.services__icon1 {grid-area: 1 / 1 / span 1 / span 1;}

.services__icon2 {grid-area: 4 / 1 / span 1 / span 1;}

.services__icon3 {grid-area: 7 / 1 / span 1 / span 1;}

.services__icon4 {grid-area: 10 / 1 / span 1 / span 1 ;}

.services__item1 {grid-area: 1 / 2  / span 4 / span 1 ;}

.services__item2 {grid-area: 4 / 2 / span 4 / span 1 ;}

.services__item3 {grid-area: 7 / 2 / span 4 / span 1 ;}

.services__item4 {grid-area: 10 / 2 / span 4 / span 1 ;}

.services__container p {
  margin: 20px 0;
}

  @media screen and (min-width: 660px) {

    .services__container {
      grid-template: repeat(6, 1fr) / 1fr 5fr 1fr 5fr;
      grid-gap: 40px 20px;
    }

    .services__icon1 {grid-area: 1 / 1 / span 1 / span 1;}

    .services__icon2 {grid-area: 4 / 1 / span 1 / span 1;}

    .services__icon3 {grid-area: 1 / 3 / span 1 / span 1;}

    .services__icon4 {grid-area: 4 / 3 / span 1 / span 1 ;}

    .services__item1 {grid-area: 1 / 2  / span 4 / span 1 ;}

    .services__item2 {grid-area: 4 / 2 / span 4 / span 1 ;}

    .services__item3 {grid-area: 1 / 4 / span 4 / span 1 ;}

    .services__item4 {grid-area: 4 / 4 / span 4 / span 1 ;}

  }

  @media screen and (min-width: 786px) {
    .services__container {
      grid-template: repeat(6, 1fr) / 1fr 5fr 1fr 5fr;
      grid-gap: 40px 20px;
    }
  }

  @media screen and (min-width: 10700px) {
    .services__container {
      grid-gap: 30px 20px;
      }
  }

.services .item_header {
  margin-top: 0;
}

/* End of SERVICES */


/* FACTS */
.facts {
  background-color: #92fcf9;
}

.facts .section-header__container {
  align-items: start;
}

.facts__container {

  flex-wrap: wrap;
}

.facts__item {
  margin-right: 10px;
  width: 40%;
}

    @media screen and (min-width: 770px) {
      .facts__item {
        width: 30%;
      }
    }

    @media screen and (min-width: 1070px) {
      .facts__container {
        margin-right: 50%;
      }

      .facts {
        background-image: url(../assets/home/facts-bg.jpg);
        background-size: cover;
        background-position: right;
      }
    }

/* End of FACTS*/


/* CONTACTS */

.contacts p {
 text-align: center;
}

.contacts__form {
  margin: 50px 0;
}

.large-teal {
  color: #92fcf9;
  font-size: 3rem;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}

.form__input {
  display: block;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 5px;
  margin: 0 10px 35px 0;
  width: 95%;
}

  @media screen and (min-width: 1070px) {
    .form__input {
      display: inline-block;
    }

    .form__input:not(#message) {
      width: 30%;
    }
  }

.submit-button {
  display: block;
  color: white;
  background-color: black;
  padding: 20px 50px;
  border: none;
  outline: none;
  margin: auto;
}

  .submit-button:hover {
    background-color: #92fcf9;
    color: black;
  }

  .submit-button:active {
    background-color: #cefdfd;
    color: black;
  }

/* End of CONTACTS */
