/* HERO */

.hero {
  background-image: url(../assets/home/hero.jpg);
  background-size: cover;
  background-position: right bottom;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

.hero .outer__container {
  text-align: center;
}

h1 {
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 14px;
  margin: 0;
}

@media screen and (min-width: 875px) {
  h1 { font-size: 4rem;}
}
/* End of HERO */

/* ABOUT */

.about {
  text-align: center;
  padding: 65px 0 65px 0;
}

.image__container {
  background-color: #ffd96d;
  width: 300px;
  height: 300px;
  margin: 30px auto;
}

.about__image {
  margin-top: 30px;
  margin-left: -30px
}

.about p {
  text-align: justify;
}

/* End of ABOUT */


/* SKILLS */
.skills {
  background-color: #f2f4f7;
}

.skills .outer__container {
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}

  @media screen and (min-width: 1070px) {
    .skills .outer__container {
      flex-direction: row;
    }
  }

.skills__item {
  flex-direction: column;
  background-color: white;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.skills .item__header {
  margin-top: 0;
}

.skills__icon {
  width: 150px;
}

.skills__percentage {
  margin-top: -20px;
}


/* End of SKILLs */
