
/* PAGE TITLE */
.page-title .outer-container {
  text-align: center;
  position: relative;
  bottom: -36px;
}
/* End of PAGE TITLE */



/* HERO */
.hero__img {
  max-width: 100%;
}
/* END of HERO*/



/* WORK */
.work .outer-container {
  flex-direction: column;
  padding: 60px 20px 150px 20px;
}

b {
  font-weight: bold;
  color: black;
}

/* WORK -- DESCRIPTION (left column)*/
.desc {
  max-width: 770px;
  margin: 20px 0 35px 0;
  text-align: justify;
}

.desc__img {
  max-width: 100%;
}


/* End of WORK -- DESCRIPTION */



/* WORK -- PROJECT (right column) */
.project {
  flex-direction: column;
  margin: 20px 0 35px 0;
  min-width: 230px;
  text-align: center
}

.project__item {
  margin: 0 0 20px 0;
}

.project .section-header {
  margin: 0 0 30px 0;
}

.project h4 {
  margin:
}

.project .copy {
  margin: 0;
}

.link-button {
  display: block;
  color: black;
  background-color: #92FCF8;
  padding: 20px 35px;
  border: none;
  outline: none;
  margin: auto;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
}

  .link-button:hover {
    background-color: #FFD96D;
    color: black;
  }

  .link-button:active {
    background-color: #FFE6A2;
    color: black;
  }

/* End of WORK -- PROJECT */

  @media screen and (min-width: 786px) {
    .work .outer-container {
      flex-direction: row;
    }

    .desc {
      margin: 0 46px 0 0;
    }

    .project {
      margin: 0 0 0 46px;
      text-align: start;
    }

    .link-button {
      margin: 10px 0;
    }
  }
/* End of WORK */
